<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts :: head('Lista das Assuntos')}"></head>
<body>
<header th:replace="~{layouts :: header('Listagem de Assuntos')}"></header>

<div class="container mt-4 mb-5">
    <div class="row">
        <div role="alert" class="alert d-flex align-items-center alert-dismissible fade show" th:if="${message ne null}" th:classappend="${error ? 'alert-danger' : 'alert-success'}">
            <i class="me-2" th:classappend="${error ? 'fa-solid fa-circle-xmark' : 'fa-solid fa-circle-check'}"></i>
            <div th:text="${message}"></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="assunto : ${assuntos}">
                    <th class="col-1" scope="row" th:text="${assunto.getId()}">ID</th>
                    <td class="col-3" th:text="${assunto.assunto}">Nome</td>
                    <td class="col-1">
                        <a class="btn btn-outline-warning" th:href="@{/assuntos/{value}/edit(value = ${assunto.id})}"><i class="fa-solid fa-pen"></i></a>
                    </td>
                    <td class="col-1">
                        <a class="btn btn-outline-danger" data-bs-toggle="modal" th:attr="data-bs-target='#modal-warning'+${assunto.id}"><i class="fa-solid fa-trash"></i></a>
                        <div class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" th:id="modal-warning+${assunto.id}" >
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Remover Assunto</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Tem certeza que deseja remover esse Assunto?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <a class="btn btn-danger" th:href="@{/assuntos/{value}/delete(value = ${assunto.id})}"><i class="fa-solid fa-trash"></i>&nbsp;Remover</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--            <div th:replace="~{/fragments/paging::paginator('institutions', ${navPage})}"></div>-->

        </div>
    </div>
    <div>
        <a type="button" class="btn btn-success" href="/assuntos/new"><i class="fa-solid fa-plus"></i>&nbsp;&nbsp;Novo Assunto</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>